.forgotcredentials-container {
  min-height: 100vh;
}
.forgotcredentials-forgotcredentials {
  width: 1920px;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1920px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.forgotcredentials-svg {
  top: -48px;
  left: 1697px;
  width: 300;
  height: 300;
  position: absolute;
}
.forgotcredentials-svg1 {
  top: 823px;
  left: -91px;
  width: 300;
  height: 300;
  position: absolute;
}
.forgotcredentials-signinform {
  top: 102px;
  left: 176px;
  width: 1568px;
  height: 733px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.forgotcredentials-rectangle8 {
  top: 44px;
  left: 0px;
  width: 1568px;
  height: 689px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(178, 205, 246, 0.6000000238418579);
}
.forgotcredentials-button {
  top: 620px;
  left: 686px;
  width: 216px;
  height: 50.0366096496582px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(57, 108, 241, 1);

}
.forgotcredentials-text {
  top: 8.04156494140625px;
  left: 60.1416015625px;
  color: rgba(255, 255, 255, 1);
  width: 95px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.forgotcredentials-text1 {
  top: 0px;
  left: 731px;
  color: rgba(0, 0, 0, 1);
  width: 125px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.forgotcredentials-text2 {
  top: 400px;
  left: 269px;
  color: rgba(0, 0, 0, 1);
  width: 227px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.forgotcredentials-rectangle9 {
  top: 394px;
  left: 511px;
  width: 733px;
  height: 46px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.forgotcredentials-text3 {
  top: 377px;
  left: 445px;
  color: rgba(0, 0, 0, 1);
  width: 1029px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
