.signinstudent-container {
  min-height: 100vh;
}
.signinstudent-signinstudent {
  width: 1920px;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1920px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.signinstudent-svg {
  top: 843px;
  left: -80px;
  width: 300;
  height: 300;
  position: absolute;
}
.signinstudent-signinform {
  top: 161px;
  left: 72px;
  width: 1775px;
  height: 722px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.signinstudent-rectangle8 {
  top: 38.980682373046875px;
  left: 0px;
  width: 1775px;
  height: 683px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(178, 205, 246, 0.6000000238418579);
}
.signinstudent-button {
  top: 520px;
  left: 551.5830078125px;
  width: 181px;
  height: 51.47209548950195px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.signinstudent-rectangle2 {
  top: 0px;
  left: 0px;
  width: 181px;
  height: 51px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(57, 108, 241, 1);
}
.signinstudent-text {
  top: 8px;
  left: 50.4169921875px;
  color: rgba(255, 255, 255, 1);
  width: 79px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.signinstudent-text1 {
  top: 0px;
  left: 836px;
  color: rgba(0, 0, 0, 1);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.signinstudent-text2 {
  top: 167.0240478515625px;
  left: 40px;
  color: rgba(0, 0, 0, 1);
  width: 190px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.signinstudent-text3 {
  top: 264.850341796875px;
  left: 40px;
  color: rgba(0, 0, 0, 1);
  width: 190px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.signinstudent-rectangle9 {
  top: 165px;
  left: 274.3330078125px;
  width: 614px;
  height: 35px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.signinstudent-rectangle10 {
  top: 260.127685546875px;
  left: 274.3330078125px;
  width: 614px;
  height: 35px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.signinstudent-button1 {
  top: 773px;
  left: 1324px;
  width: 174px;
  height: 71px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(57, 108, 241, 1);
}
.signinstudent-text4 {
  top: 0px;
  left: 50.4169921875px;
  color: rgba(255, 255, 255, 1);
  width: 79px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.signinstudent-button2 {
  top: 773px;
  left: 1595px;
  width: 181px;
  height: 71px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(57, 108, 241, 1);
}
.signinstudent-text5 {
  top: 0px;
  left: 50.4169921875px;
  color: rgba(255, 255, 255, 1);
  width: 79px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.signinstudent-rectangle21 {
  top: 348px;
  left: 1303px;
  width: 506px;
  height: 383px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.signinstudent-text6 {
  top: 241px;
  left: 1303px;
  color: rgba(0, 0, 0, 1);
  width: 498px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.signinstudent-rectangle22 {
  top: 560px;
  left: 1044px;
  width: 227px;
  height: 171px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.signinstudent-button3 {
  top: 681px;
  left: 220px;
  width: 307px;
  height: 50px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(57, 108, 241, 1);
}
.signinstudent-text7 {
  top: 12px;
  left: 49px;
  color: rgba(255, 255, 255, 1);
  width: 209px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
