.teacherpage4611-teacherpage4611 {
  width: 1920px;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1920px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.teacherpage4611-navbar4612 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 60px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(88, 109, 182, 0.7400000095367432);
}
.teacherpage4611-text {
  top: 9px;
  left: 30px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacherpage4611-text01 {
  top: 15px;
  left: 162px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacherpage4611-text02 {
  top: 15px;
  left: 323px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacherpage4611-text03 {
  top: 15px;
  left: 485px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacherpage4611-text04 {
  top: 15px;
  left: 566px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacherpage4611-image {
  top: 166px;
  left: 1539px;
  width: 344px;
  height: 871px;
  opacity: 0.30;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(100, 158, 211, 1);
}
.teacherpage4611-text05 {
  top: 91px;
  left: 1539px;
  color: rgba(0, 0, 0, 1);
  width: 344px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacherpage4611-image1 {
  top: 166px;
  left: 70px;
  width: 1365px;
  height: 38px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(217, 217, 217, 1);
}
.teacherpage4611-image2 {
  top: 166px;
  left: 70px;
  width: 974px;
  height: 38px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(100, 158, 211, 1);
}
.teacherpage4611-text06 {
  top: 104px;
  left: 59px;
  color: rgba(0, 0, 0, 1);
  width: 410px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacherpage4611-text07 {
  top: 104px;
  left: 450px;
  color: rgba(0, 0, 0, 1);
  width: 159px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacherpage4611-text08 {
  top: 181px;
  left: 1557px;
  color: rgba(0, 0, 0, 1);
  width: 306px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacherpage4611-group14629 {
  top: 964px;
  left: 804px;
  width: 404px;
  height: 73px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(100, 158, 211, 1);
}
.teacherpage4611-text18 {
  top: 22px;
  left: 6px;
  color: rgba(255, 255, 255, 1);
  width: 391px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacherpage4611-group24631 {
  top: 964px;
  left: 267px;
  width: 404px;
  height: 73px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(100, 158, 211, 1);
}
.teacherpage4611-text19 {
  top: 22px;
  left: 6px;
  color: rgba(255, 255, 255, 1);
  width: 391px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
